body {
  color: #8f8f8f;
  font: 12px Tahoma, sans-serif;
  background-color: #f8f8f8;
  border-top: 5px solid #7e7e7e;
  margin: 0;
}
input[type="text"] {
  background-color: #f3f3f3;
  border: 1px solid #e7e7e7;
  height: 30px;
  color: #b2b2b2;
  padding: 0 10px;
  vertical-align: top;
}
button {
  color: #fff;
  background-color: #29c5e6;
  border: none;
  height: 32px;
  font-family: 'Oswald', sans-serif;
}
p {
  margin: 20px 0;
}
#wrapper {
  max-width: 1200px;
  margin: auto;
}
.child {
    background: #eee;
    border: 1px solid #ccc;
    padding: 10px;
    float: left;
    width: 48%;
    margin-right: 2%;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}
.child:last-child {
    margin-right: 0;
}
header {
  padding: 10px 0;
}
#heading{
	padding: 10px 0;
}
nav a {
	text-decoration: none;
}

nav ul {
	margin: 0;
	padding: 0;
}

nav li {
	list-style-position: inside;
	font: 14px 'Oswald', sans-serif;
	padding: 15px;
}

.top-menu li {
	display: inline-block;
	padding: 8px 8px;
	margin: 0;
}

.top-menu li.active {
	background: #29c5e6;
	color: #fff;
}

.top-menu a {
	color: #b2b2b2;
}
.dropbtn {
    background-color: #fff;
    color: #8f8f8f;
    padding: 16px;
    font-size: 16px;
    border: none;

	border-top: 1px solid #e7e7e7;
}

/* Dropdown button on hover & focus */
.dropbtn:hover, .dropbtn:focus {
    background-color: #fff;
}

/* The container <div> - needed to position the dropdown content */
.dropdown {
    position: relative;
    display: inline-block;
}

/* Dropdown Content (Hidden by Default) */
.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f1f1f1;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}

/* Links inside the dropdown */
.dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}

/* Change color of dropdown links on hover */
.dropdown-content a:hover {background-color: #ddd}

/* Show the dropdown menu (use JS to add this class to the .dropdown-content container when the user clicks on the dropdown button) */
.show {display:block;}
aside {
	float: left;
	width: 250px;
	height: 3350px;
}
section {
	margin-left: 280px;
	padding-bottom: 50px;
	max-width: 1050px;
}
.aside-menu li {
	font-weight: 300;
	list-style-type: square;
	border-top: 1px solid #e7e7e7;
}

.aside-menu li:first-child {
	border: none;
}

.aside-menu li.active {
	color: #29c5e6;
}

.aside-menu a {
	color: #8f8f8f;
}
.highlight{
	font-weight: bolder;
	font-size: 110%;
	}